<div data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start" class="menu-item show menu-lg-down-accordion me-lg-1">
	<span class="menu-link py-3">
		<span class="menu-title">Accordion Type 1</span>
		<span class="menu-arrow d-lg-none"></span>
	</span>
	<div class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-rounded-0 py-lg-4 w-lg-225px">
		<div class="menu-item">
			<a class="menu-link active py-3" href="#">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">Multipurpose</span>
			</a>
		</div>
		<div class="menu-item">
			<a class="menu-link py-3" href="#">
				<span class="menu-bullet">
					<span class="bullet bullet-dot"></span>
				</span>
				<span class="menu-title">Bidding</span>
			</a>
		</div>
		<div class="menu-inner flex-column collapse" id="kt_aside_menu_collapse_2">
			<div class="menu-item">
				<a class="menu-link py-3" href="#">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Logistics</span>
				</a>
			</div>
			<div class="menu-item">
				<a class="menu-link py-3" href="#">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Delivery</span>
				</a>
			</div>
			<div class="menu-item">
				<a class="menu-link py-3" href="#">
					<span class="menu-bullet">
						<span class="bullet bullet-dot"></span>
					</span>
					<span class="menu-title">Landing</span>
				</a>
			</div>
		</div>
		<div class="menu-item">
			<div class="menu-content">
				<a class="btn btn-flex btn-color-success fs-base p-0 ms-2 mb-2 collapsible collapsed rotate" data-bs-toggle="collapse" href="#kt_aside_menu_collapse_2" data-kt-toggle-text="Show Less">
					<span data-kt-toggle-text-target="true">Show 3 More</span>
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr082.svg-->
					<span class="svg-icon ms-2 svg-icon-3 rotate-180">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<path opacity="0.5" d="M12.5657 9.63427L16.75 5.44995C17.1642 5.03574 17.8358 5.03574 18.25 5.44995C18.6642 5.86416 18.6642 6.53574 18.25 6.94995L12.7071 12.4928C12.3166 12.8834 11.6834 12.8834 11.2929 12.4928L5.75 6.94995C5.33579 6.53574 5.33579 5.86416 5.75 5.44995C6.16421 5.03574 6.83579 5.03574 7.25 5.44995L11.4343 9.63427C11.7467 9.94669 12.2533 9.94668 12.5657 9.63427Z" fill="currentColor" />
							<path d="M12.5657 15.6343L16.75 11.45C17.1642 11.0357 17.8358 11.0357 18.25 11.45C18.6642 11.8642 18.6642 12.5357 18.25 12.95L12.7071 18.4928C12.3166 18.8834 11.6834 18.8834 11.2929 18.4928L5.75 12.95C5.33579 12.5357 5.33579 11.8642 5.75 11.45C6.16421 11.0357 6.83579 11.0357 7.25 11.45L11.4343 15.6343C11.7467 15.9467 12.2533 15.9467 12.5657 15.6343Z" fill="currentColor" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</a>
			</div>
		</div>
	</div>
</div>

