<div id="kt_engage_demos" class="bg-body" data-kt-drawer="true" data-kt-drawer-name="explore" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'350px', 'lg': '475px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#kt_engage_demos_toggle" data-kt-drawer-close="#kt_engage_demos_close">
	<!--begin::Card-->
	<div class="card shadow-none rounded-0 w-100">
		<!--begin::Header-->
		<div class="card-header" id="kt_engage_demos_header">
			<h3 class="card-title fw-bolder text-gray-700">Explore</h3>
			<div class="card-toolbar">
				<button type="button" class="btn btn-sm btn-icon btn-active-color-primary h-40px w-40px me-n6" id="kt_engage_demos_close">
					<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
					<span class="svg-icon svg-icon-2">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
							<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
						</svg>
					</span>
					<!--end::Svg Icon-->
				</button>
			</div>
		</div>
		<!--end::Header-->
		<!--begin::Body-->
		<div class="card-body" id="kt_engage_demos_body">
			<!--begin::Content-->
			<div id="kt_explore_scroll" class="scroll-y me-n5 pe-5" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_engage_demos_body" data-kt-scroll-dependencies="#kt_engage_demos_header" data-kt-scroll-offset="5px">
				<!--begin::Wrapper-->
				<div class="mb-0">
					<!--begin::Heading-->
					<div class="mb-7">
						<div class="d-flex flex-stack">
							<h3 class="mb-0">Drawer 1</h3>
							<a href="#" class="fw-bold" target="_blank">Drawer 1</a>
						</div>
					</div>
					<!--end::Heading-->
					<!--begin::Stack1-->
					<div class="rounded border border-dashed border-gray-300 py-4 px-6 mb-5">
						<div class="d-flex flex-stack">
						</div>
					</div>
					<!--end::Stack1-->
					<!--begin::Stack2-->
					<div class="rounded border border-dashed border-gray-300 py-4 px-6 mb-5">
						<div class="d-flex flex-stack">
						</div>
					</div>
					<!--end::Stack2-->
					<!--begin::Stack3-->
					<div class="rounded border border-dashed border-gray-300 py-4 px-6 mb-5">
						<div class="d-flex flex-stack">
						</div>
					</div>
					<!--end::Stack3-->
					<!--begin::Button-->
					<a href="#" class="btn btn-primary mb-15 w-100">Drawer 1</a>
					<!--end::Button-->
					<!--begin::Blank Row-->
					<div class="mb-0">
						<h3 class="fw-bolder text-center mb-6">BLANKS</h3>
						<!--begin::Row-->
						<div class="row g-5">
							<div class="col-6">BLANK</div>
							<div class="col-6">BLANK</div>
						</div>
						<!--end::Row-->
					</div>
					<!--end::Blank Row-->
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Body-->
	</div>
	<!--end::Card-->
</div>